
@charset "utf-8";
/* Styles CSS Document */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

/*
* Header style
*/
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 10vh;
  margin: auto;
}

header h1,
header p {
  font-size: 100%;
  margin: auto;
}

/*
 * Style for the Score Panel
 */

 .score-panel {
   display: flex;
   flex-direction: row;
   align-content: stretch;
   font-family: 'Oswald', sans-serif;
 }

 .score-panel h1 {
   font-weight: 700;
   text-align: center;
   margin: auto;
 }

 .score-panel p {
   margin: auto;
 }

 .score-panel .stars {
   padding: 0;
   display: inline-block;
   margin: auto;
   color: #F4C430;
 }

 .score-panel .stars li {
   list-style: none;
   display: inline-block;
   margin: auto;
 }

 #timer {
   margin: auto;
 }
 #restart {
   float: right;
   cursor: pointer;
   color: #073446;
   margin: auto;
 }

/*
 * Style for the deck of cards
 */

.deck {
  width: 100vw;
  height: calc(100% - 30vh);
  background: linear-gradient(160deg, #344d90 0%, #5cc5ef 100%);
  background-color: #344d90; /* For browsers that do not support gradiants */
  padding: 1.5em;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  -moz-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

li.card.mismatch {
  height: 22%;
  width: 22%;
  background: #073446;
  font-size: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center; /*** desplays font awesome
    icons in the center of the card ***/
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -moz-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #073446;
  cursor: default;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  animation-name: flip;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both, forwards;
  animation-fill-mode: both, forwards;
  -webkit-animation-transform-style: preserve-3d;
  animation-transform-style: preserve-3d;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  pointer-events: none;
}

.deck .card.show {
  font-size: 2em;
  background: #F4C430;
  box-shadow: 5px 6px 14px 0px rgba(46, 61, 73, 0.5);
}

.deck .card.match {
  cursor: default;
  background: #33cc33;
  font-size: 2em;
  pointer-events: none;
  box-shadow: 5px 6px 14px 0px rgba(46, 61, 73, 0.5);
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .6s;
  }

  .deck .card.mismatched {
	background: #e7552c;
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .6s;
}

/* Style for the modal modal */
/* source  https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 20%;
  background-color: rgb(0, 0, 0); /*fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* black with opacity */
}


.modal:target { /* Display the modal when targetd */
  display:table;
  position: absolute;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: auto;
  border: 2px solid #777;
  border-radius: 10px;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  background-color: #3c3;
  vertical-align: middle;
    /* for javaScript --- object.style.animationName="slidedown"
  /* Add animation */
  -webkit-animation-name: slidedown;
  -webkit-animation-duration: 0.4s;
  animation-name: slidedown;
  animation-duration: 0.4s
}

/*style for the Play Again button in the modal */

.play-again {
  position: fixed;
  background-color: #ccc;
  border-radius: 8px;
  border-color: #073446;
  padding: 1%;
  margin-top: 5%;
  font-size: 1em;
  cursor: pointer;
  left: 45%;
}

.play-again:hover {
color: #fff;
}


/* resource for animations:
 https://www.w3schools.com/css/css3_animations.asp */
/**** keyframes ****/

/* animate cards */

/* flip card to see face */
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
      }
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
      }
  50%v{
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
      }
  80% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
      }
  100% {
    -webkit-transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
      }
  }

/* animate mismatched cards */
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

/* animate matched cards */
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

/* modal slidedown */

@-webkit-keyframes slidedown {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes slidedown {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@media screen and (min-width: 600px) {
.score-panel {
  text-align: center;
  width: 630px;
  margin: auto;
}
  .deck {
    width: 630px;
    margin: auto;
  }
}

/* Modal styles */
.modal {
    padding-top: 5%;
    padding-bottom: 20%;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.modalContent {
    padding: 1em;
    margin: auto;
    font-size: 1em;
}

.play-again {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
  cursor: pointer;
  left: 40%;
  }
}
